/* Default styles */
.pai {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1c1c1c;
  width: 100vw;
  height: 100vh;
}

.filho {
  width: 700px;
  height: 500px;
  border-radius: 20px;
  margin-top: 150px;
  background-color: #e6e6e6;
  color: #1c1c1c;
  padding-left: 10px;
  margin-bottom: 6px;
  overflow: hidden;
  overflow-y: scroll;
}

.cabeçalho {
  width: 100vw;
  height: 10vh;
  position: absolute;
  top: 0;
  background-color: #e6e6e6;
  color: black;
  text-align: center;
  display: flex;
  justify-content: space-between;
  opacity: 0.9;
}

.formulario {
  width: 700px;
  display: flex;
  justify-content: space-around;
}

.input {
  margin-right: 25px;
  border-radius: 5px;
}

.botao {
  width: 100px;
  border-radius: 5px;
}

.botao:hover {
  cursor: pointer;
}

.links {
  color: #1c1c1c;
  width: 700px;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: #1c1c1c;
}

/* Media queries for responsiveness */
@media all and (max-width: 1200px) {
  .filho, .formulario, .links {
    width: 80%;
  }
}

@media all and (max-width: 800px) {
  .filho, .formulario, .links {
    width: 90%;
  }

  .formulario {
    flex-direction: column;
    align-items: center;
  }

  .input {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media all and (max-width: 600px) {
  body {
    font-size: 7px;
  }

  .pai, .filho, .cabeçalho, .formulario, .input, .botao, .botao:hover, .links {
    width: 100%;
  }

  .filho {
    margin-top: 80px;
  }

  .formulario {
    padding: 15px;
  }
}

/*iPhone SE */
@media all and (max-width: 320px) {
  body {
    font-size: 5px; 
  }

  .filho, .formulario, .links {
    width: 95%; 
  }

  .filho {
    margin-top: 50px; 
  }

  .formulario {
    padding: 10px; 
  }

  .input {
    margin-right: 0;
    margin-bottom: 8px; 
  }

  .botao {
    max-width: 120px; 
  }
}

  


